In [3]:
import pandas as pd
mpgdf=pd.read_csv('./files/auto-mpg.csv')

In [6]:
mpgdf.head(3)

     13  8    360  175  3821    11  73  1 amc ambassador brougham
0  15.0  8  390.0  190  3850   8.5  70  1      amc ambassador dpl
1  17.0  8  304.0  150  3672  11.5  72  1      amc ambassador sst
2  19.4  6  232.0   90  3210  17.2  78  1             amc concord

In [7]:

mpgdf.describe()

,13,8,360,3821,11,73,1
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.541058,5.448363,193.006297,2968.282116,15.579597,76.017632,1.574307
std,7.807944,1.698329,104.064450,846.829608,2.751586,3.699193,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.900000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3605.000000,17.200000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [27]:
mpgdf['13'].apply(pd.isnull,)

0      False
1      False
2      False
3      False
4      False
       ...
392    False
393    False
394    False
395    False
396    False
Name: 13, Length: 397, dtype: bool

In [ ]:
from spacy import vocab,load

In [ ]:
print('test ')